:root {
  // fonts
  --font-baloo: "Baloo Da 2";
  --font-josefin: "Josefin Slab";

  // colors
  --white: #fff;
  --white-dark-1: #f5f5f5;
  --white-dark-2: #eee;

  --gold: #e2b646;
  --gold-dark-1: #c29525;

  --red: #a52a2a;
  --blue: #0000ee;

  --grey: #a7a7a7;
  --grey-dark-1: #777;
  --grey-dark-2: #555;
  --grey-dark-3: #4b4b4b;

  --black: #000;
  --black-2: #000000cc;
  --black-3: #17181b;
}